<div class="container">

  <h1>Segundo parcial Criptografía 2024</h1>
  <h3>Integrantes</h3>
  <ul>
    <li>Santiago Cammarano</li>
    <li>Nicolás Castellino</li>
    <li>Alejandro Tacchella</li>
    <li>Andrés Dayan</li>
  </ul>
  <div class="content">
    <div class="button-container">
      <button class="button login-button">Login</button>
      <button class="button logout-button">Logout</button>
    </div>

    <div class="info-container">
      <h2> Información de la cuenta:</h2>
      <div *ngIf="!userLogged">
        No hay usuarios conectados
      </div>

      <div *ngIf="userLogged">
        <h4>Usuario: {{user}} </h4>
        <h4>Email: {{email}} </h4>
      </div>
    </div>

  </div>
</div>